html {
    width: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(#3a92c8, aliceblue);
    background: -webkit-linear-gradient(#3a92c8, aliceblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3a92c8, aliceblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3a92c8, aliceblue); /* For Firefox 3.6 to 15 */
    background-attachment: fixed;

    width: 100%;
    min-height: 100%;

    margin-left: 0;
    margin-top: 0;
    z-index: 0;
}

div#logo-bar {

    position: fixed;
    top: 0;

    border: solid gray 1px;
    border-bottom: 0;

    background-color: black;

    height: 50px;
    width: 100%;

    z-index: 10;
}

div#search-bar {
    width: 190px;
    height: 23px;

    padding-top: 12px;
    margin-left: 83%;


    z-index: 10;
}

.search-form {
    width: 76%;
}


div#search-bar img {
    float: right;
    margin-right: 6.3%;
    border-radius: 10px;

    height: 23px;
}

div#search-bar a {
    color: white;

    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}

div#menu-bar {
    margin-left: 14.05em;

    border: solid gray 1px;

    background-color: black;

    position: fixed;

    height: 30px;
    min-width: 100em;

    margin-top: 50px;

    z-index: 10;
}

.menu-button {
    margin: .2em;

    text-decoration: none;

    color: white;

    font-weight: bold;
    font-family: arial;
    font-size: 24px;
}


.menu-button:hover {
    color: lightskyblue;
    transition-duration: 0.5s;
}

#cash-bar {
    margin-top: 3.1em;

    border: solid gray 1px;

    background-color: black;

    min-width: 14em;
    height: 100%;

    position: fixed;
    z-index: 10;
}

#cash-bar h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    float: left;
    font-size: 15px;
    clear: both;
}

div#purchase {
    padding-top: 6px;
    margin-top: 205%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;

    background: linear-gradient(yellow, gold);
    background: -webkit-linear-gradient(yellow, gold); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, gold); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, gold); /* For Firefox 3.6 to 15 */

    height: 2em;
    width: 9em;

    text-align: center;

    border-radius: 15px;
}

.cash-button {
    display: block;
    height: 100%;
    width: 100%;
}


div#purchase:hover {
    background: linear-gradient(gold, yellow);
    background: -webkit-linear-gradient(gold, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gold, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gold, yellow); /* For Firefox 3.6 to 15 */

    transition-duration: 0.5s;
}

div#purchase a {
    color: black;

    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

div#cancel {
    margin: 10px auto auto auto;

    background: linear-gradient(red, darkred);
    background: -webkit-linear-gradient(red, darkred); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, darkred); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, darkred); /* For Firefox 3.6 to 15 */

    width: 6em;
    height: 1.35em;

    text-align: center;

    border-radius: 13px;
}

div#cancel a {

    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
}

div#cancel:hover {
    background: linear-gradient(darkred, red);
    background: -webkit-linear-gradient(darkred, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkred, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkred, red); /* For Firefox 3.6 to 15 */
    transition-duration: 0.5s;
}

div#content {
    width: 100%;
    padding-top: 95px;
}

div#content p, h1, h2 {
    margin-left: 45px;
    margin-top: 10px;
    padding-top: 10px;
    font-family: arial, sans-serif;
    color: black;

    max-width: 90%;
}

div#page-content {
    width: 78%;
    margin-left: 15.8em;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}