div#page-content img {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 45px;

    border: solid lightskyblue 2px;
    border-radius: 10px;
}

.room {
    border-bottom: solid lightblue 1px;
}

.room-text {
    float: right;
}

.room-text h1,h2 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
}


.price {
    padding-top: 0.75em;
    padding-right: 19.5em;
}

div#page-content a {
    min-width: 100em;
    margin-left: 5px;
}

div#page-number {
    margin-left: 90%;
    margin-top: 5px;
}


.star {
    z-index: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid black;
}

.star:after {
    z-index: 0;
content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 0 0 -20px;
    border-top: 30px solid black;
}

.star2 {
    margin-left: 40em;
}

.star3 {
    margin-left: 37.2em;
}

.star4 {
    margin-left: 34.2em;
}

.star5 {
    margin-left: 31.2em;
}

.star1 {
    margin-left: 28.2em;
}

.staryellow {
    border-bottom: 30px solid yellow;
}

.staryellow:after {
    border-top: 30px solid yellow;
}

.info {
    font-size: 20px;
    margin-top: 60px;
}




















