div#page-content img {
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 45px;

    border: solid lightskyblue 2px;
    border-radius: 10px;
    position: relative;
}

.room {
    border-bottom: solid lightblue 1px;
    clear: both;
    height: 250px;
}

.room-text {
    padding-top: 33px;
    padding-left: 220px;
}

#starholder {
    padding-left: 550px;
    margin-top: 10px;
    margin-left: -40px;
}


.more-info {
    margin-top: -15px;
    padding-left: 12px;
    float: left;
    position: relative;
}



.room-text h1, h2 {
    padding-top: 0;
    margin-top: 0;
}

.room img {
    float: left;
}

img:hover {
    background-color: yellow;
    color: yellow;
    opacity: 0.4;
    transition-duration: 0.5s;
}

div#page-content a {
    margin-left: 5px;
}

div#page-number {
    margin-left: 87.5%;
    margin-top: 5px;
}


.star {
    z-index: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid black;
}

.star:after {
    z-index: 0;
content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 0 0 -20px;
    border-top: 30px solid black;
}

.star2 {
    margin-left: 12em;
}

.star3 {
    margin-left: 9em;
}

.star4 {
    margin-left: 6em;
}

.star5 {
    margin-left: 3em;
}

.staryellow {
    border-bottom: 30px solid yellow;
}

.staryellow:after {
    border-top: 30px solid yellow;
}

.starblack {
    border-bottom: 30px solid black;
}

.starblack:after {
    border-top: 30px solid black;
}


















