div#page-content img {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 45px;

    border: solid lightskyblue 2px;
    border-radius: 10px;
}

.room {
    border-bottom: solid lightblue 1px;
}

.room-text {
    float: right;
}

.room-text h1,h2 {
    margin-left: 0;
}


.price {
    padding-top: 0.75em;
    padding-right: 19.5em;
}

div#page-content a {
    min-width: 100em;
    margin-left: 5px;
}

div#page-number {
    margin-left: 90%;
    margin-top: 5px;
}

