#page-content th, td, table {
    border: 1px solid black;
}

#page-content table, h1, h4 {
    margin-right: auto;
    margin-left: auto;
}

#page-content h1, h4 {
    text-align: center;
}

#page-content table {
    background-color: #f3f3f3;
}

#page-content th, td {
    padding-left: 10px;
    padding-right: 10px;
}