html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(#3a92c8, aliceblue);
    background-attachment: fixed;

    width: 100%;

    margin-left: 0;
    margin-top: 0;

}

div#logo-bar {
    height: 40px;
    width: 100%;
}

div#search-bar {
    width: 190px;
    height: 23px;

    background-color: yellow;

    margin-top: 11px;
    margin-left: 83%;

    border: solid yellow;
    border-radius: 25px;
}

div#search-bar a {
    color: black;

    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}

div#menu-bar {
    background-color: black;

    position: fixed;

    height: 50px;
    width: 100%;

    z-index: 1;
}

div#buttons {
    padding-top: 4px;

    min-width: 1000px;

}

div#buttons a {
    text-decoration: none;

    color: white;

    font-weight: bold;
    font-family: arial;
    font-size: 35px;

    margin-left: 17px;
}

div#buttons a:hover {
    color: lightskyblue;
    transition-duration: 0.5s;
}

div#cash-bar {
    background-color: black;

    width: 20%;
    height: 562px;

    border-top: inset #aa80aa 51.5px;

    position: fixed;
}

div#content {
    width: 100%;
}
